.upload-prescription {
  padding: 20px 0;
  background: linear-gradient(#FFFFFF, #FFF0D2 , #E0F5FC , #FFFCF4);
}

.upload-precre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 120px 5px 80px;
}

.upload-precre div {
  flex: 1;
}

.upload-precre div h4 {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  text-decoration: none solid rgb(48, 54, 60);
  word-spacing: 0px;
}

.upload-precre div p {
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none solid rgb(48, 54, 60);
  word-spacing: 0px;
  text-align: end;
}

.upload-precre div p a {
  color: #178a86;
  font-weight: 700;
}

.form {
  width: 90%;
  position: relative;
  margin: auto;
}

.form .fa-search {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #9ca3af;
}

.form span {
  position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #d1d5db;
}

.left-pan {
  padding-left: 7px;
}

.left-pan i {
  padding-left: 10px;
}

.form-input {
  height: 55px;
  text-indent: 33px;
  border-radius: 10px;
}

.form-input:focus {
  box-shadow: none;
  border: none;
}

.form-input::placeholder {
  color: gray;
  transition: ease-in-out all .4s;
}

.product {
  margin-top: 30px;
  padding: 0 59px;
  display: flex;
  justify-content: space-between;
}

.product-list {
  border-radius: 10px;
  cursor: pointer;
}

.product-list:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product-list img {
  width: 130px;
  margin-top: -20px;
}

.product-list h5 {
  margin-top: 5px;
  text-align: center;
  font-size: 16px;
}

.product-list p {
  text-align: center;
  color: red;
}

@media (max-width: 760px) {
  .upload-precre {
    flex-direction: column;
    align-items: stretch;
    padding: 10px;
  }

  .upload-precre div {
    margin-bottom: 10px;
  }

  .upload-precre div p {
    text-align: center;
  }

  .upload-precre div h4 {
    text-align: center;
  }

  .product {
    flex-wrap: nowrap;
    overflow: scroll;
    padding: 0px;
  }

  .product::-webkit-scrollbar {
    display: none;
  }

  .product-list {
    margin-left: 20px;
  }
}
