/* ------------------------------------common css---------------------------------------- */
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
     text-decoration: none;
}

/* ======================================navbar Start ====================================*/
.topbar{
    color: #178a86;
}
.nav-item a {
    font-size: 14px;
    font-weight: 700;
    /* text-decoration: none; */
}

.nav-item a:hover{
     color: #178a86;
}

.nav-item i{
     color: #178a86;
}
.shipping{
    text-decoration: none;
}
.mobNo , .mail{
    color: black;
}
.superNav {
    font-size: 13px;
}

.form-control {
    outline: none !important;
    box-shadow: none !important;
}
.logo{
  width: 220px;
  height: 40px;
}

@media screen and (max-width:540px) {
    .centerOnMobile {
         text-align: center
    }
}
/* ==================================navbar End ========================================*/
